.top {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  background-color: white;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarLeft,
.topbarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #444;
}
.topbarCenter {
  flex: 6;
}
.topList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.toplistItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.toplistItem:hover {
  color: gray;
}
.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-right: 15px;
}
.topsearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
/* font-family: 'Lora', serif;
font-family: 'Varela Round', sans-serif; */
